
.fade-enter-active {
    opacity: 1;
}

.fade-enter {
    opacity: 0;  
}
.fade-leave-active {
    position: absolute;
}
.fade-leave-to {
    opacity: 0;
    transition: opacity .5s;
}



.full-enter-active {
    opacity: 1;
}

.full-enter {
    opacity: 0;  
}
.full-leave-active {
    position: absolute;
}
.full-leave-to {
    opacity: 0;
    /* transition: opacity 9s; */
}
.space main, .life main {
    transition: opacity .5s;
    
}


.wrap a.transparent {
    opacity: 0;
    width: 0;
    overflow: hidden;
}
.wrap .arrowBox a{
    -webkit-transition: all .3s ease, width 0s;
    transition: all .3s ease, width 0s;

}

.nav-pc .router-link-exact-active {
    color: #000;
}
.nav-pc .router-link-exact-active:before {
    background: #000;
}

/* header .nav-pc a.active:hover {
    cursor: default;
    color: #000;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

header .nav-pc a.active:hover::before {
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}

header.header-w .nav-pc a.active:hover{
    color: #fff;
    
} */

.sq-tab a:not(.active) {
    cursor: pointer;
}