.arrowBox a {
  width: 100%;
  height: 100%; }

.life1 .pic2, .life1 .pic3, .map {
  -webkit-box-shadow: 0px 9px 28.42px 0.58px rgba(12, 11, 12, .11);
  box-shadow: 0px 9px 28.42px 0.58px rgba(12, 11, 12, .11); }

.arrowBox a:after, .nav-pc a, .nav-pc a:after, .desBox .arrow, .map {
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.main-p, .des .desBox {
  text-align: justify;
  text-justify: inter-ideographic; }

.overlay.open, .popup, .bgBox2 .txtbox, .info .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.overlay .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.scroll, .scroll span {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

@-webkit-keyframes donut-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes donut-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

h1 {
  font-weight: 700; }

h2 {
  font-weight: 700; }

h3 {
  font-weight: 700; }

h4 {
  font-weight: 700; }

h5 {
  font-weight: 700; }

h6 {
  font-weight: 700; }

.break {
  display: block; }

@media screen and (max-width: 767px) {
  .break-m {
    display: block; } }

@media screen and (max-width: 960px) {
  .none-m {
    display: none; } }

@media screen and (min-width: 961px) {
  .none-pc {
    display: none; } }

section,
main,
.wrap {
  width: 100%;
  position: relative; }

main {
  width: 100%;
  height: calc(100vh - 75px); }
  @media screen and (max-width: 960px) {
    main {
      height: auto; } }

.wrap {
  min-height: 100vh; }
  @media screen and (max-height: 760px) {
    .wrap {
      min-height: 700px; } }
  @media screen and (max-device-width: 767px) {
    .wrap {
      min-height: 100%;
      height: 100%; } }
  @media screen\0 {
    .wrap {
      min-height: 100%;
      overflow: hidden; } }

.abs {
  position: absolute; }

.por {
  position: relative; }

.txt span.abs {
  display: block;
  font-size: 110px;
  font-size: 11rem;
  line-height: 0.8;
  color: rgba(0, 0, 0, .03);
  top: 0;
  left: 10px;
  font-weight: bold; }
  @media screen and (max-width: 1366px) {
    .txt span.abs {
      font-size: 10rem; } }
  @media screen and (max-height: 730px) {
    .txt span.abs {
      font-size: 10rem; } }
  @media screen and (max-width: 960px) {
    .txt span.abs {
      font-size: 8rem; } }
  @media screen and (max-width: 374px) {
    .txt span.abs {
      font-size: 6.5rem; } }

.tt-page {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.2; }
  @media screen and (max-width: 1024px) {
    .tt-page {
      font-size: 3.2rem; } }
  @media screen and (max-width: 767px) {
    .tt-page {
      font-size: 3rem; } }
  @media screen and (max-width: 413px) {
    .tt-page {
      font-size: 2.8rem; } }
  @media screen and (max-width: 374px) {
    .tt-page {
      font-size: 2.4rem; } }

.arrow-w li {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .5);
  color: white; }

.arrow-w a:after {
  border-color: transparent white transparent transparent; }

.arrow-w .next:after {
  border-color: transparent transparent transparent white; }

.arrow-b li {
  border: 1px solid black;
  background-color: transparent;
  color: black; }

.arrow-b a:after {
  border-color: transparent black transparent transparent; }

.arrow-b .next:after {
  border-color: transparent transparent transparent black; }

.arrowBox {
  position: absolute;
  right: 0;
  bottom: 0; }
  @media screen and (max-width: 767px) {
    .arrowBox {
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      right: auto;
      right: initial;
      bottom: auto;
      bottom: initial; } }
  @media screen and (max-width: 767px) {
    .arrowBox ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media screen and (max-width: 767px) {
    .arrowBox .pageBox {
      display: none; } }
  .arrowBox li {
    height: 75px;
    width: 75px;
    line-height: 75px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 4px; }
    @media screen and (max-width: 1024px) {
      .arrowBox li {
        height: 65px;
        width: 65px;
        line-height: 65px; } }
    @media screen and (max-width: 767px) {
      .arrowBox li {
        border: 0;
        width: 32.5px;
        border-radius: 0 65px 65px 0;
        background: #000; } }
    .arrowBox li:first-child {
      margin-right: -1px; }
    .arrowBox li:last-child {
      margin-left: -1px; }
      @media screen and (max-width: 767px) {
        .arrowBox li:last-child {
          border-radius: 65px 0 0 65px; } }
  .arrowBox a {
    display: block;
    line-height: 75px;
    position: relative; }
    .arrowBox a:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 11px 6px 0;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    @media screen and (min-width: 1025px) {
      .arrowBox a:hover:after {
        left: calc(50% - 5px); } }
  .arrowBox .next:after {
    border-width: 6px 0 6px 11px; }
  @media screen and (min-width: 1025px) {
    .arrowBox .next:hover:after {
      left: calc(50% + 5px); } }

.main-p {
  letter-spacing: 1px;
  margin: 15px 0; }
  @media screen and (max-width: 1366px) {
    .main-p {
      margin: 10px 0; } }
  @media screen and (max-width: 374px) {
    .main-p {
      font-size: 1.5rem; } }

.main-txt {
  padding: 70px 0 0 70px; }
  @media screen and (max-width: 1366px) {
    .main-txt {
      padding: 45px 0 0 45px; } }
  @media screen and (max-height: 730px) {
    .main-txt {
      padding: 45px 0 0 45px; } }
  @media screen and (max-width: 1024px) {
    .main-txt {
      padding: 35px 0 0 35px; } }
  @media screen and (max-width: 374px) {
    .main-txt {
      font-size: 1.5rem; } }

/* z-index: 1 */
/* z-index: 3 */
/* z-index: 2 */
.trans_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none; }
  .trans_bg img {
    margin: 0 auto; }

.trans_ipad {
  display: none; }

.trans_iphone {
  display: none; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .trans_bg {
    display: block; }
  .trans_ipad {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black; }
    .trans_ipad .trans_center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      .trans_ipad .trans_center img {
        width: 50%; }
      .trans_ipad .trans_center p {
        text-align: center;
        font-size: 1.8rem;
        color: #FFF;
        line-height: 1.5; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  .trans_bg {
    display: block; }
  .trans_iphone {
    display: block;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    background-color: black; }
    .trans_iphone .trans_center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      .trans_iphone .trans_center img {
        width: 35%; }
      .trans_iphone .trans_center p {
        text-align: center;
        font-size: 1rem;
        color: #FFF;
        line-height: 2rem;
        padding-top: 1rem; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .trans_bg {
    display: block; }
  .trans_iphone {
    display: block;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    background-color: black; }
    .trans_iphone .trans_center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      .trans_iphone .trans_center img {
        width: 35%; }
      .trans_iphone .trans_center p {
        text-align: center;
        font-size: 1.4rem;
        color: #FFF;
        line-height: 1.5;
        padding-top: 1rem; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .trans_bg {
    display: block; }
  .trans_iphone {
    display: block;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    background-color: black; }
    .trans_iphone .trans_center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      .trans_iphone .trans_center img {
        width: 35%; }
      .trans_iphone .trans_center p {
        text-align: center;
        font-size: 1.2rem;
        color: #FFF;
        line-height: 1.5;
        padding-top: 1.3rem; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .trans_bg {
    display: block; }
  .trans_iphone {
    display: block;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    background-color: black; }
    .trans_iphone .trans_center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      .trans_iphone .trans_center img {
        width: 35%; }
      .trans_iphone .trans_center p {
        text-align: center;
        font-size: 1.2rem;
        color: #FFF;
        line-height: 1.5; } }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem; }
  @media screen and (max-device-width: 767px) {
    body {
      font-size: 1.8rem; } }

html,
body {
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  font-weight: 500;
  line-height: 1.7;
  word-wrap: break-word;
  color: black;
  margin: 0;
  padding: 0;
  font-family: Noto Serif, PT Serif, 'source-han-serif-tc', Songti TC, serif;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 0; }
  @media screen and (max-width: 767px) {
    html,
    body {
      height: 100%;
      min-height: 100%; } }
  @media screen\0 {
    html,
    body {
      min-height: 100%;
      height: 100%; } }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

*:focus {
  outline: none; }

img {
  width: 100%;
  height: auto;
  display: block; }

a {
  text-decoration: none;
  display: inline-block; }

ul {
  font-size: 0; }

header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #dab896;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 30px; }
  @media screen and (max-width: 1366px) {
    header {
      height: 85px; } }
  @media screen and (max-width: 767px) {
    header {
      border: 0; } }

@media screen and (max-width: 767px) {
  .nav-pc {
    display: none; } }

.nav-pc li {
  display: inline-block;
  margin: 0 20px; }

.nav-pc a {
  color: #dab896;
  position: relative;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold; }
  @media screen and (max-width: 1366px) {
    .nav-pc a {
      font-size: 2rem; } }
  @media screen\0 {
    .nav-pc a {
      padding-left: 15px; } }
  .nav-pc a:hover:after {
    width: 100%;
    left: 0; }
  .nav-pc a:after {
    content: '';
    width: 0;
    height: 8px;
    background: #dab896;
    position: absolute;
    bottom: -33px;
    left: 50%;
    display: block;
    z-index: 2; }

.nav-pc .active:after {
  width: 100%;
  left: 0; }

.logo {
  width: 115px;
  visibility: hidden; }

.scrolled {
  background: #373737;
  border: 0;
  height: 75px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2); }
  .scrolled .logo {
    visibility: visible; }
  .scrolled .nav-pc a {
    color: white;
    font-size: 17.5px;
    font-size: 1.75rem; }
    .scrolled .nav-pc a:after {
      bottom: -24px;
      background: white; }
  .scrolled .button_container span {
    background: #fff; }

.container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto; }
  .container p {
    font-size: 20px; }
  .container a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #dab896;
    text-decoration: none;
    font-size: 20px;
    top: 5px; }
    .container a:after {
      content: '';
      position: absolute;
      background: #dab896;
      height: 2px;
      width: 0%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      -webkit-transition: .35s ease;
      transition: .35s ease; }
    .container a:hover:after, .container a:focus:after, .container a:active:after {
      width: 100%; }

.button_container {
  position: relative;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease; }
  @media screen and (min-width: 768px) {
    .button_container {
      display: none; } }
  .button_container:hover {
    opacity: .7; }
  .button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF; }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF; }
  .button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF; }
  .button_container span {
    background: #dab896;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }

.overlay {
  position: fixed;
  background: #dab896;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .overlay.open {
    opacity: 0.95;
    visibility: visible;
    min-height: 100%;
    overflow: auto; }
    .overlay.open li {
      -webkit-animation: fadeInRight .5s ease forwards;
      animation: fadeInRight .5s ease forwards;
      -webkit-animation-delay: .35s;
      animation-delay: .35s;
      font-size: 24px;
      font-size: 2.4rem; }
      .overlay.open li:nth-of-type(2) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        -webkit-animation-delay: .45s;
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        -webkit-animation-delay: .50s;
        animation-delay: .50s; }
  .overlay.nav-open {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 10%; }
  .overlay nav {
    position: relative;
    font-weight: 400;
    text-align: center;
    width: 100%; }
  .overlay ul {
    list-style: none;
    padding: 0;
    position: relative; }
    .overlay ul li {
      display: block;
      margin: 25px 0;
      position: relative;
      opacity: 0; }
      @media screen and (max-width: 374px) {
        .overlay ul li {
          margin: 15px 0; } }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        font-weight: 500; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 100%; }
          @media screen and (max-device-width: 1024px) {
            .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
              width: 0; } }
  .overlay .arrow {
    width: 10px;
    display: block;
    right: -20px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 45%; }
  .overlay .sub-open-arrow {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  .overlay .sub li {
    font-size: 20px;
    font-size: 2rem;
    margin: 15px 0; }
  .overlay .sub a {
    color: #9c9c9c; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background: rgba(0, 0, 0, .8); }
  @media screen and (max-width: 767px) {
    .popup {
      height: 100%; } }

@media screen and (max-width: 767px) {
  .team .content {
    width: 100%; } }

.close {
  width: 50px;
  right: 30px;
  top: 30px; }
  @media screen and (max-width: 767px) {
    .close {
      width: 35px;
      top: 5%;
      right: 5%; } }

.kv {
  background: #373737;
  height: 100vh; }
  .kv main {
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 960px) {
      .kv main {
        width: 72%; } }
  @media screen and (max-width: 767px) {
    .kv {
      height: 100%; } }

@-webkit-keyframes scrolldown {
  0% {
    height: 0px;
    top: 0; }
  50% {
    height: 80px;
    top: 80px; }
  100% {
    height: 0px;
    top: 80px; } }

@keyframes scrolldown {
  0% {
    height: 0px;
    top: 0; }
  50% {
    height: 80px;
    top: 80px; }
  100% {
    height: 0px;
    top: 80px; } }

.scroll {
  bottom: 80px;
  color: #dab896;
  display: block;
  letter-spacing: 2px; }
  .scroll span {
    width: 1px;
    height: 80px;
    background: #dab896;
    display: block; }
    .scroll span:after {
      content: '';
      width: 1px;
      height: 30px;
      background: black;
      display: block;
      position: absolute;
      -webkit-animation: scrolldown 2s ease-in-out infinite;
      animation: scrolldown 2s ease-in-out infinite; }
      @media screen and (max-device-width: 1024px) {
        .scroll span:after {
          background: #373737; } }

.archi {
  overflow: hidden; }
  .archi main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 960px) {
      .archi main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto; } }
  .archi .content {
    width: 65%; }
    @media screen and (max-width: 1024px) {
      .archi .content {
        width: 60%; } }
    @media screen and (max-width: 767px) {
      .archi .content {
        width: 100%; } }
  .archi .txt {
    padding: 120px;
    width: 35%; }
    @media screen and (max-width: 1440px) {
      .archi .txt {
        padding: 45px; } }
    @media screen and (max-width: 1024px) {
      .archi .txt {
        padding: 40px;
        width: 40%; } }
    @media screen and (max-width: 960px) {
      .archi .txt {
        width: 100%;
        margin: auto;
        padding: 50px 40px; } }
  .archi h2 {
    margin-bottom: 15px; }
  .archi p {
    margin: 5px 0; }
    .archi p:nth-child(3), .archi p:nth-child(5) {
      margin-top: 20px; }
  .archi .bg {
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none; }
    @media screen and (max-width: 960px) {
      .archi .bg {
        top: inherit;
        bottom: 0;
        width: 150%;
        left: inherit;
        right: 0; } }

.buildingBox {
  width: 100%;
  height: calc(100vh - 75px);
  position: relative; }
  @media screen and (max-width: 960px) {
    .buildingBox {
      height: 45vh; } }
  .buildingBox .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100vh; }
    @media screen and (max-width: 960px) {
      .buildingBox .box {
        height: 45vh; } }
    .buildingBox .box > div {
      width: 50%;
      height: 100%; }

.building1 {
  background: url(../img/3-2-1.jpg) center/cover; }

.building2 {
  background: url(../img/3-2-2.jpg) center/cover; }

.building3 {
  background: url(../img/3-2-3.jpg) center/cover; }

.building4 {
  background: url(../img/3-2-4.jpg) center/cover; }

.building5 {
  background: url(../img/3-2-5.jpg) center/cover; }

.building6 {
  background: url(../img/3-2-6.jpg) center/cover; }

.building7 {
  background: url(../img/3-2-7.jpg) center/cover; }

.building8 {
  background: url(../img/3-2-8.jpg) center/cover; }

.building9 {
  background: url(../img/3-2-9.jpg) center/cover; }

.building10 {
  background: url(../img/3-2-10.jpg) center/cover; }

.space main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 1024px) {
    .space main {
      min-height: 100%; } }
  @media screen and (max-width: 960px) {
    .space main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto; } }

.space .picBox {
  width: 100%; }
  @media screen and (max-width: 960px) {
    .space .picBox {
      height: 45vh;
      padding-top: 45vh; } }

@media screen and (max-width: 960px) {
  .space .arrowBox {
    top: 22.5vh; } }

.des {
  width: 535px;
  background: rgba(255, 255, 255, .84);
  position: absolute;
  left: 4%;
  bottom: 6%; }
  @media screen and (max-width: 960px) {
    .des {
      position: static;
      position: initial;
      width: 100%;
      height: auto;
      background: #fff; } }
  @media screen\0 {
    .des {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      left: calc(50% - 92.5px); } }
  .des .desBox {
    width: 100%;
    padding: 55px; }
    @media screen and (max-width: 1366px) {
      .des .desBox {
        padding: 40px; } }
    @media screen and (max-width: 1024px) {
      .des .desBox {
        padding: 30px; } }
  .des h2 {
    font-size: 30px;
    font-size: 3rem; }
    @media screen and (max-width: 960px) {
      .des h2 {
        font-size: 2.8rem;
        line-height: 1.3;
        margin-bottom: 10px; } }
  .des p {
    margin: 5px 0; }
    @media screen and (max-width: 960px) {
      .des p {
        margin-bottom: 5px; } }

.pic1 {
  background: url(../img/archi1.jpg) no-repeat center/cover; }

.pic2 {
  background: url(../img/archi2.jpg) no-repeat center/cover; }

.pic3 {
  background: url(../img/archi3.jpg) no-repeat center/cover; }

.pic4 {
  background: url(../img/archi4.jpg) no-repeat center/cover; }

.pic5 {
  background: url(../img/archi5.jpg) no-repeat center/cover; }

.pic6 {
  background: url(../img/archi6.jpg) no-repeat center/cover; }

.pic7 {
  background: url(../img/archi8.jpg) no-repeat center/cover; }

.pic8 {
  background: url(../img/archi9.jpg) no-repeat center/cover; }

.pic9 {
  background: url(../img/archi10.jpg) no-repeat center/cover; }
  .pic9 .des {
    width: 500px; }
    @media screen and (max-width: 960px) {
      .pic9 .des {
        width: 90%; } }

.pic6 .des,
.pic9 .des {
  height: auto;
  background: transparent; }

.pic6 .desBox,
.pic9 .desBox {
  background: rgba(255, 255, 255, .84); }
  @media screen and (max-width: 960px) {
    .pic6 .desBox,
    .pic9 .desBox {
      background: white; } }

.parking-logo {
  width: 60%;
  margin: 25px 0 10px; }
  @media screen and (max-width: 374px) {
    .parking-logo {
      width: 90%; } }

@media screen and (min-width: 961px) {
  .desBox > :not(h2) {
    display: none; } }

.desBox h2 {
  position: relative; }

.desBox .arrow {
  position: absolute;
  right: 2%;
  top: 50%;
  width: 20px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }
  @media screen and (max-width: 960px) {
    .desBox .arrow {
      display: none; } }
  @media screen and (min-width: 1025px) {
    .desBox .arrow:hover {
      opacity: 0.5; } }

.des .desBoxClose {
  padding: 25px 55px; }
  @media screen and (max-width: 1366px) {
    .des .desBoxClose {
      padding: 25px 40px; } }
  @media screen and (max-width: 960px) {
    .des .desBoxClose {
      padding: 50px 40px; } }
  .des .desBoxClose .arrow {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

.v-logo {
  width: 140px;
  margin: 15px 0; }

.f-logo {
  width: 200px;
  margin: 15px 0; }

.m-logo {
  width: 100px;
  margin: 15px 0; }

.life .content {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (min-width: 961px) {
    .life .content {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); } }
  @media screen and (max-width: 1024px) {
    .life .content {
      width: 80%; } }
  @media screen and (max-width: 960px) {
    .life .content {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.life .bg {
  top: 0;
  right: 0;
  pointer-events: none; }

@media screen and (max-width: 960px) {
  .life .arrowBox {
    top: 22.5vh; } }

.life1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 960px) {
    .life1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 0;
      width: 100%; } }
  .life1 .picBox {
    width: 45%;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    @media screen and (max-width: 1024px) {
      .life1 .picBox {
        padding-left: 5%; } }
    @media screen and (max-width: 960px) {
      .life1 .picBox {
        width: 100%;
        padding-left: 0;
        height: 45vh;
        overflow: hidden; } }
  .life1 .pic2 {
    left: -18%;
    top: -8%; }
    @media screen and (max-width: 1440px) {
      .life1 .pic2 {
        height: 180px;
        width: 180px;
        left: -24%;
        top: 9%; } }
    @media screen and (max-width: 1024px) {
      .life1 .pic2 {
        left: -5%;
        top: -8%; } }
    @media screen and (max-width: 960px) {
      .life1 .pic2 {
        display: none; } }
  .life1 .pic3 {
    bottom: -6%;
    right: -40%; }
    @media screen and (max-width: 1440px) {
      .life1 .pic3 {
        display: none; } }
  .life1 .txt {
    background: white;
    width: 50%;
    padding: 50px;
    margin-left: 30px;
    margin-top: 5%; }
    @media screen and (max-width: 1780px) {
      .life1 .txt {
        margin-top: -1%; } }
    @media screen and (max-width: 1680px) {
      .life1 .txt {
        width: 60%;
        padding: 40px; } }
    @media screen and (max-width: 1280px) {
      .life1 .txt {
        padding: 30px; } }
    @media screen and (max-width: 1024px) {
      .life1 .txt {
        margin-top: -4%; } }
    @media screen and (max-width: 960px) {
      .life1 .txt {
        width: 100%;
        margin: auto;
        background: transparent;
        z-index: 1;
        padding: 50px 40px; } }

.life2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 960px) {
    .life2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .life2 .txt {
    background: rgba(255, 255, 255, .9);
    width: 640px;
    padding: 50px; }
    @media screen and (min-width: 961px) {
      .life2 .txt {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }
    @media screen and (max-width: 1024px) {
      .life2 .txt {
        width: 50%; } }
    @media screen and (max-width: 960px) {
      .life2 .txt {
        width: 100%;
        margin: auto;
        background: transparent;
        z-index: 1;
        padding: 50px 40px; } }
    @media screen and (max-width: 413px) {
      .life2 .txt {
        padding: 30px; } }
  .life2 .left,
  .life2 .right {
    width: 50%;
    height: calc(100vh - 75px); }
  .life2 .left {
    background: url(../img/4-3-1.jpg) no-repeat center/cover; }
    @media screen and (max-width: 960px) {
      .life2 .left {
        width: 100%;
        height: 45vh; } }
  .life2 .right {
    background: url(../img/4-3-2.jpg) no-repeat center/cover; }
    @media screen and (max-width: 960px) {
      .life2 .right {
        display: none; } }

h3 {
  color: #626262;
  margin: 5px 0 0;
  font-size: 22px;
  font-size: 2.2rem; }
  @media screen and (max-width: 1440px) {
    h3 {
      margin: 5px auto;
      font-size: 1.8rem; } }
  @media screen and (max-width: 960px) {
    h3 {
      font-size: 1.8rem;
      margin: 5px auto 0; } }
  @media screen and (max-width: 374px) {
    h3 {
      font-size: 1.8rem;
      margin: 0; } }

.life3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.bgBox {
  height: calc(100vh - 75px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .bgBox > div {
    height: calc(25vh - 18.75px); }
  @media screen and (max-width: 960px) {
    .bgBox {
      height: auto; } }

.bgBox1 {
  width: 28.57143%; }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .bgBox1 {
      width: 16.66667%; } }
  @media screen and (max-width: 960px) {
    .bgBox1 {
      display: none; } }
  .bgBox1 > div {
    width: 50%; }
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .bgBox1 > div {
        width: 100%; } }
  .bgBox1 .box1 {
    background: url(../img/4-4-p13.png) center/cover; }
  .bgBox1 .box2 {
    background: url(../img/4-4-p01.png) center/cover; }
  .bgBox1 .box3 {
    background: url(../img/4-4-p02.png) center/cover; }
  .bgBox1 .box4 {
    background: url(../img/4-4-p03.png) center/cover; }
  .bgBox1 .box5 {
    background: url(../img/4-4-p04.png) center/cover; }
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .bgBox1 .box5 {
        display: none; } }
  .bgBox1 .box6 {
    background: url(../img/4-4-p05.png) center/cover; }
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .bgBox1 .box6 {
        display: none; } }
  .bgBox1 .box7 {
    background: url(../img/4-4-p06.png) center/cover; }
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .bgBox1 .box7 {
        display: none; } }
  .bgBox1 .box8 {
    background: url(../img/4-4-p07.png) center/cover; }
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .bgBox1 .box8 {
        display: none; } }

.bgBox2 {
  width: 57.14286%; }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .bgBox2 {
      width: 66.66667%; } }
  @media screen and (max-width: 960px) {
    .bgBox2 {
      width: 100%;
      background: url(../img/bg-life.jpg) no-repeat center/cover;
      padding: 50px 0; } }
  @media screen and (max-width: 374px) {
    .bgBox2 {
      top: 12vh; } }
  .bgBox2 > div {
    width: 25%; }
  .bgBox2 .box1 {
    background: url(../img/4-4-p12.png) center/cover; }
  .bgBox2 .box2 {
    background: url(../img/4-4-p14.png) center/cover; }
  .bgBox2 .box3 {
    background: url(../img/4-4-p15.png) center/cover; }
  .bgBox2 .box4 {
    background: url(../img/4-4-p16.png) center/cover; }
  .bgBox2 .box5 {
    background: url(../img/4-4-p19.png) center/cover; }
  .bgBox2 .box6 {
    background: url(../img/4-4-p20.png) center/cover; }
  .bgBox2 .box7 {
    background: url(../img/4-4-p08.png) center/cover; }
  .bgBox2 .box8 {
    background: url(../img/4-4-p09.png) center/cover; }
  .bgBox2 .txtbox {
    width: 100%;
    height: calc(50vh - 37.5px); }
    @media screen and (max-width: 1440px) {
      .bgBox2 .txtbox {
        padding: 25px; } }
    @media screen and (max-width: 960px) {
      .bgBox2 .txtbox {
        width: 90%;
        height: auto;
        margin: auto;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        text-align: justify;
        text-justify: inter-ideographic; } }
  @media screen and (max-width: 1440px) {
    .bgBox2 .main-p {
      margin: 0 auto; } }
  @media screen and (max-width: 960px) {
    .bgBox2 .main-p {
      margin: 10px auto; } }

.txt-life {
  width: 85%; }
  @media screen and (max-height: 880px) {
    .txt-life {
      width: 95%;
      padding: 25px; } }
  @media screen and (max-width: 1440px) {
    .txt-life {
      width: 100%;
      padding: 0; } }
  @media screen and (max-width: 960px) {
    .txt-life {
      width: 95%;
      background: rgba(255, 255, 255, .85);
      padding: 8%; } }
  @media screen and (max-width: 1440px) {
    .txt-life p {
      display: inline; } }

.bgBox3 {
  width: 14.28571%; }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .bgBox3 {
      width: 16.66667%; } }
  @media screen and (max-width: 960px) {
    .bgBox3 {
      display: none; } }
  .bgBox3 > div {
    width: 100%; }
  .bgBox3 .box1 {
    background: url(../img/4-4-p21.png) center/cover; }
  .bgBox3 .box2 {
    background: url(../img/4-4-p22.png) center/cover; }
  .bgBox3 .box3 {
    background: url(../img/4-4-p23.png) center/cover; }
  .bgBox3 .box4 {
    background: url(../img/4-4-p24.png) center/cover; }

.life4 .pic {
  width: 60%;
  height: calc(100vh - 75px);
  background: url(../img/4-5.jpg) no-repeat center/cover; }
  @media screen and (max-width: 1024px) {
    .life4 .pic {
      width: 80%; } }
  @media screen and (max-width: 960px) {
    .life4 .pic {
      width: 100%;
      height: 45vh; } }

.life4 .txt {
  width: 600px;
  background: #fff;
  padding: 50px 0 50px 50px;
  z-index: 1;
  bottom: 5%;
  right: 20%; }
  @media screen and (max-width: 1440px) {
    .life4 .txt {
      width: 35%;
      right: 17%;
      bottom: 8%; } }
  @media screen and (max-width: 1024px) {
    .life4 .txt {
      width: 49%;
      right: 4%;
      bottom: 8%; } }
  @media screen and (max-width: 960px) {
    .life4 .txt {
      position: static;
      position: initial;
      width: 100%;
      margin: auto;
      background: transparent;
      z-index: 1;
      padding: 50px 40px; } }

.info {
  background: url(../img/bg-wall.jpg) no-repeat center/cover fixed; }
  @media screen and (max-width: 960px) {
    .info {
      background: url(../img/bg-wall-m.jpg) no-repeat center/cover; } }
  .info .content {
    width: 80%;
    margin: auto;
    padding: 150px 0; }
    @media screen and (max-width: 1440px) {
      .info .content {
        padding: 80px 0; } }
    @media screen and (max-width: 960px) {
      .info .content {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }

.map {
  display: block;
  background: url(../img/4-1-1.png) no-repeat center/cover;
  height: 550px;
  width: 550px; }
  @media screen and (max-width: 1440px) {
    .map {
      height: 400px;
      width: 400px; } }
  @media screen and (max-width: 960px) {
    .map {
      width: 80%;
      height: auto;
      padding-bottom: 80%; } }
  @media screen and (min-width: 1025px) {
    .map:hover {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      -webkit-box-shadow: 0px 32px 57.42px -2.42px rgba(12, 11, 12, .2);
      box-shadow: 0px 32px 57.42px -2.42px rgba(12, 11, 12, .2); } }

.detail {
  width: 360px;
  margin-left: 80px; }
  @media screen and (max-width: 960px) {
    .detail {
      width: 80%;
      margin: 50px auto 0; } }

.zoom {
  width: 35px;
  bottom: 15px;
  right: 15px; }

/*# sourceMappingURL=style.css.map */